* { font-family: 'Roboto', sans-serif; }

.first th:nth-child(1) { width: 60px; }
table th { width: 120px; text-align: start;}
table td { padding-top: 8px;}
.add { 
  display: flex; 
  justify-content: start;
  align-items: center;
}
.pd-r {
  padding-right: 10px;
}
.order {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
